doctype 5
html
  head
    title Node Arduino Learning
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    script(type='text/javascript', src='//use.typekit.net/axo4uee.js')
    script(type='text/javascript', src='/javascripts/typekit.js')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/jqconsole.min.js')
    script(type='text/javascript', src='/javascripts/home.js')
    script(type='text/javascript', src='/javascripts/codemirror.js')
    script(type='text/javascript', src='/javascripts/modes/javascript.js')
    script(type='text/javascript', src='/javascripts/lessons.js')
  body
    .container
      block content