.form.form-vertical(method="post", action="/lessons")
  .control-group
    .controls
      text_field#lesson-form(type='text', name='title', placeholder='Title of lesson')
      textarea#lesson-form(type='string', name='info', placeholder='Sidebar info for lesson')
  