extends ../views/layouts/default
block content
  .row
    .span12
      h1.header Welcome to Arduino Academy
  .row.push-down
    .span6
      h3.centered Learn how to program by making a robot
      p Ready to get started? We thought so!
      br
      p If you haven't already, you will want to make sure all of your materials are in order. 
      br
      p Let's begin by setting up your Arduino so that it can read commands from your computer. We are going to dump some magic onto the arduino board so it can learn as we learn. Click the button below to get started.
      a.btn.btn-info(href="/lessons") Get started
    .span5.offset1
      #console
  .row
    .span12
      a(href='/lessons') View all lessons
      br
      a(href='/on').home-switch Check TCP Connection
