doctype 5
html
  head
    title Node Arduino Learning
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='//use.typekit.net/axo4uee.js')
    script(type='text/javascript', src='/javascripts/typekit.js')
    script(type='text/javascript', src='/javascripts/jquery-1.9.0.min.js')
  body
    block content
    .container