body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
#container
  padding: 20px
.home-switch
  margin-right: 20px
#console
  height: 300px
  width: 400px
  background: #333333
  padding: 10px
  color: #ffffff
.jquery-console-cursor {
	color: #ffffff
}